## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dbmdl
*.bak
*.log
*.pdb
*.cache
*.config

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/

# User-specific files
*.swp
*.sln.ide
*.psess
*.vsp
*.vspscc
*.vssscc

# dotCover
.idea/.idea.DotSettings

# Logs
*.log

# Others
TestResults/
*.nupkg
packages/
.nuget/
*.snk
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
*.dll
*.exe

# npm
node_modules/

# JetBrains Rider
.idea/
